<!-- cv.j2 -->
<article class="cv" data-page="cv">
  <header>
    <h2 class="h2 article-title">Curriculum Vitae</h2>
  </header>
  <section class="cv-content">
    <iframe src="./config/assets/CV_MarcGironesD_en.pdf" width="100%" height="800px" style="border: none; border-radius: 15px;"></iframe>
  </section>
</article>